<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Layout Bootstrap</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Dashboard admin</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <button (click)="logout()" style="margin-left: 1%;" class="btn btn-danger">Sair</button>
    </div>
  </nav>

  <div *ngIf="stationDeleted" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Posto removido!</strong>
    <button (click)="stationDeleted=false" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="stationCreated" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Posto criado!</strong>
      <button (click)="stationCreated=false" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <div class="container-fluid" style="padding: 2%;">
    <div class="row">

      <div class="col-md-4" >

        <div class="col-md-9" >


          <h4 style="text-align: center;">Listagem de Postos</h4>
          <br>

          <div class="input-group">
            <input [(ngModel)]="searchTerm" (input)="searchStations()" type="search" class="form-control rounded" placeholder="Pesquisar" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>
            </button>
          </div>

          <br>

          <div class="card" *ngIf="currentStation != null">
            <div class="card-body">
              <h5>{{currentStation.name}}</h5>
            </div>
            <button (click)="currentStation = null" class="btn btn-danger">Fechar</button>
          </div>

          <br>

          <div class="list-group" style="height: 80vh; overflow:scroll;">
            <button *ngIf="loadingStations"><div class="spinner-border m-3" role="status"></div></button>
            <button *ngFor="let station of filteredStations" (click)="chooseStation(station)" class="list-group-item list-group-item-action">{{station.id}}. {{station.name}}</button>
          </div>
        </div>





      </div>

      <div class="col-md-8">




        <div class="card-deck" style="text-align: center;">

          <div class="card" style="background-color:#A1C298">
            <div class="card-body">
              <h5 class="card-title">Adicionar Posto</h5>
              <button (click)="changeOperation('addStation')" class="btn btn-primary-outline stretched-link"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg> </button>
            </div>
          </div>

          <div *ngIf="currentStation" class="card" style="background-color: #FBF2CF;">
            <div class="card-body">
              <h5 class="card-title">Editar Posto</h5>
              <button (click)="editStation(currentStation)" class="btn btn-primary-outline stretched-link"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg></button>
            </div>
          </div>

          <div *ngIf="!currentStation" class="card" style="background-color: #616161;">
            <div class="card-body">
              <h5 class="card-title">Editar Posto</h5>
              <button class="btn btn-primary-outline" disabled><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg></button>
            </div>
          </div>

          <div *ngIf="currentStation" class="card" style="background-color: #FA7070;">
            <div class="card-body">
              <h5 class="card-title">Remover Posto</h5>
              <button (click)="deleteChargingStation()" class="btn btn-primary-outline stretched-link"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
              </svg></button>
            </div>
          </div>

          <div *ngIf="!currentStation" class="card" style="background-color: #616161;">
            <div class="card-body">
              <h5 class="card-title">Remover Posto</h5>
              <button class="btn btn-primary-outline" disabled><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
              </svg></button>
            </div>
          </div>



        </div>




        <hr>

        <br>
        <div *ngIf="currentStation != null">
          <h3 style="text-align: center;">Informações do Posto</h3>
          <br>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{currentStation.name}}</h5>
              <h6>ID: {{currentStation.id}}</h6>
              <h6>Latitude: {{currentStation.stationLatitude}}</h6>
              <h6>Longitude: {{currentStation.stationongitude}}</h6>
            </div>
          </div>

          <br>

          <div class="text-center">
            <button class="btn btn-success" (click)="goToMaps(currentStation.stationLatitude, currentStation.stationongitude)">
              Abrir Google Maps
            </button>
          </div>

        </div>



        <div *ngIf="operation == 'addStation'">
          <h2>Adicionar posto</h2>


          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
              <label for="name">Nome:</label>
              <input type="text" id="name" name="name" [(ngModel)]="chargingStationData.name" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="latitude">Latitude:</label>
              <input type="number" id="latitude" name="latitude" [(ngModel)]="chargingStationData.stationLatitude" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="longitude">Longitude:</label>
              <input type="number" id="longitude" name="longitude" [(ngModel)]="chargingStationData.stationLongitude" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Criar Posto</button>
          </form>


        </div>

        <div *ngIf="operation == 'editStation'">
          <h2>Editar posto</h2>


          <form #form="ngForm">
            <div class="form-group">
              <label for="name">Nome:</label>
              <input type="text" id="name" name="name" [(ngModel)]="stationToEdit.name" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="latitude">Latitude:</label>
              <input type="number" id="latitude" name="latitude" [(ngModel)]="stationToEdit.stationLatitude" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="longitude">Longitude:</label>
              <input type="number" id="longitude" name="longitude" [(ngModel)]="stationToEdit.stationLongitude" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Confirmar</button>
          </form>


        </div>






      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
